
<div class="content">
<div >
    <%= form_for(@post) do |f| %>
      <div class="field">
        <%= f.label :title, class: "label" %>
        <div class="control">
          <%= f.text_field :title, class: "input", placeholder: "Post title" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :body, class: "label" %>
        <div class="control">
          <%= f.text_area :body, class: "textarea", rows: 6, placeholder: "Enter post content" %>
        </div>
      </div>

      <div class="field">
      <p>
        Post as:
        <%= link_to @user.name, user_path(@user), class: "has-text-weight-bold"%>
      </p>
      </div>
      
      <div class="field is-grouped">
        <div class="control">
          <%= f.submit "Create new Post", class: "button is-link" %>
        </div>
        <div class="control">
          <%= link_to root_path do %>
            <%= button_tag "Cancel", class: "button is-danger" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  </div>
  